body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10pt;
}

h2 {
  font-size: 1.1rem;
}


#photoArea img {
  width: 500px
}

#photoArea #thumbs img {
  width: 75px
}

#photoArea, #settingsArea {
  float: left;
  padding: 4px
}

section {
  margin: 40px 0
}
