<h1>{{ title }}</h1>

<!--- Propertie binding-->
<p [innerText] = "paragrapheText"></p>

<!--- Sans binding
<img src="https://tse4.mm.bing.net/th?id=OIP.mOyJeMCn3CQWmysCkOAX7QHaE8&pid=Api&P=0&w=239&h=160" alt="loups">
-->

<!--- Propertie binding-->
<img [src]="image.src" [alt]="image.alt">

<!--- Event binding-->
<button (click)="updatUI()">Update UI</button>

<!-- Inseertion d'un composant enfant. (child component)-->
<app-counter></app-counter>

<!-- Utilisation de la directive *ngFor-->
<p *ngFor="let student of students">{{ student }}</p>

<ul>
  <li
    [ngStyle]="{'color': student.grade > 14 ? 'green' : 'red' }"
    *ngFor="let student of students2">
      {{ student.name }}
    <span
      *ngIf="student.grade > 14">
      (bon élève)
    </span>
  </li>
</ul>

<app-button-on-off></app-button-on-off>
<app-carousel></app-carousel>
